
.div
{
    border-radius: 5px;
    border-style: none;
}
.header
{
    position: fixed;
    padding:30px;
    height:40px;
    width: 100%;
    background-color: #c5e0e2;
    margin-bottom: 10px
    
}
.body
{
    font-family: 'Times New Roman', Times, serif;
}

.name {
    float:left;
	margin-left: 20px;
	padding-bottom: 10px;
	font-size: 16px;
	font-family: 'Times New Roman', Times, serif;
	
}

.email{
    float:right;
    margin-right: 20px;
	padding-bottom: 10px;
	font-size: 16px;
	font-family: 'Times New Roman', Times, serif;
	color: #1b399b;
}
a:hover {
    font-weight: bold;
}

.right
{
    float: left;
    margin-top: 50px;
    padding-left:5px;
    height: auto;
    width: 100%;
    background-color: rgb(164, 245, 248);

}
.table
{
    width:100%;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    }
.table,th,td
{   
    max-width:100%;
    border:1px solid #000;
    border-collapse: collapse;
}
.th,td
{
    padding:10px;
}

.footer
{
    height:40px;
    padding:10px;
    position:fixed;
}
@media screen and(max-width:320px)
{
 
   .table .td .th .tr{
    width: 100%;
    height: auto;
   }

}
